html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  height : 100vh;
  margin: 0px;
}
#root{
  height: 100%;
}

/* Header Margin */
.header-margin {
  margin-top: 86px;
}
@media screen and (max-width : 575px) {
  .header-margin {
    margin-top: 25px;
  }
}

/* Banner */
.banner-img {
  width: 100%;
}

/* Scrollbar */
.addscrollbar{
  overflow-x: scroll;
  display: flex;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
  }
  .force-overflow {
  min-height: 450px;
  }
  
  .scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }
  
  .scrollbar-primary {
  scrollbar-color: #4285F4 #F5F5F5;
  }
  
  .scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }
  
  .scrollbar-danger {
  scrollbar-color: #ff3547 #F5F5F5;
  }
  
  .scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }
  
  .scrollbar-warning {
  scrollbar-color: #FF8800 #F5F5F5;
  }
  
  .scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }
  
  .scrollbar-success {
  scrollbar-color: #00C851 #F5F5F5;
  }
  
  .scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }
  
  .scrollbar-info {
  scrollbar-color: #33b5e5 #F5F5F5;
  }
  
  .scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }
  
  .scrollbar-default {
  scrollbar-color: #2BBBAD #F5F5F5;
  }
  
  .scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }
  
  .scrollbar-secondary {
  scrollbar-color: #aa66cc #F5F5F5;
  }


/* Side bar */
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  color: #fff;
  border: none;
  background: none;
}
.sidebar {
  position: fixed;
  background-color: #f0f0f0;;
  transition: all .5se;
  transform: translateX(-30rem);
  height: 100%;
  width : 30rem;
}
.sidebar-close-button {
  border-radius: 50%;
  padding: 0.5rem;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  padding-top: 0px;
  cursor: pointer;
  position: absolute;
  right : 1.5rem;
  top: 1.5rem;
}
.open {
  transform: translateX(0rem);
}
